* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --backGround-header: rgba(31, 57, 206, 0.918);
    --backGround-main-section: rgba(99, 120, 241, 0.842);
}

.header-content {
    display: flex;
    width: 100%;
    background-color: var(--backGround-header);
    padding: 1.1rem;
    justify-content: center;
    border-bottom: solid 0.1rem white;
    gap: 1.4rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.644);
}

.main-title {
    color: rgb(233, 235, 236);
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
}

.material-symbols-outlined {
    font-size: 2.6rem;
}

.main-section {
    width: 100%;
    height: calc(100vh - 12.56rem);
    display: flex;
    align-items: center;
    background-color: var(--backGround-main-section);
}

.main-section-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.main-section-label {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 10px darkblue;
    text-transform: uppercase;
    position: relative;
}

.state-city {
    display: grid;
    grid-row: auto auto;
    gap: 0.5rem;
    justify-content: center;
}

.btn-choose {
    font-size: 1.6rem;
    max-width: max-content;
    padding: 0.2rem;
    grid-row-start: 2;
    border-radius: 3px;
    outline: 1px solid rgb(168, 161, 161);
    border: none;
}

.main-section-form-state-label{
    display: inline-block;
    padding: 0.4rem 1rem;
    text-transform: capitalize;
}

.main-section-form-state-label input{
    margin-left: 0.5rem;
}

.btn-choose::placeholder {
    color: rgba(0, 0, 0, 0.219);
}

.btn-send-options {
    max-width: min-content;
    padding: 0.5rem 2rem;
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: rgba(5, 233, 5, 0.767);
    font-weight: bold;
    border-radius: 3px;
}

.main-section-label {
    padding: 1.3rem 0;
}

.section-form-radio {
    display: flex;
    margin: 0 auto;
    background-color: rgba(138, 135, 135, 0.651);
    color: aliceblue;
    width: max-content;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
}

.CTA{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.hidden{
    display: none;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgb(53, 52, 52);
    border-top: 1px solid white;
    color: white;
    padding: 0.4rem;

}

.linkedin a{
    color: rgb(116, 116, 250);
}

.gitHub a{
    color: rgb(212, 60, 60);
}

.name-dev a{
    color: chartreuse;
}

a, a::selection{
    color: white;
    text-decoration: none;
}

.footer-content a:hover{
    text-decoration: underline;
}
